# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives**
-> study popular data science languages
-> list data science tools
-> do arithmetic calculations

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn

Data Science Tools
RStudio
Apache Zeppelin
Jupyter Notebooks

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
c = 200/60
print(c)

3.3333333333333335

## Author
Paul Nyamwange Ombuna